@charset "utf-8";
table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 5px solid blue;
    border-top: hidden;
}

th, td {
   border: 1px solid #000;
   text-align: center;
   width: 100px;
}

table th{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: yellow;
}

caption.box1 {
  background-color: rgb(238, 136, 19);
  color: #FFF;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 30px 30px 0 0;
  border: 5px solid blue;
  border-bottom: hidden;
}

tr.box2 {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

tr.box3 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

tr.box4 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

tr.box5 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

tr.box6 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

tr.box7 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}